{% extends 'principal/index.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
  Creación de pedidos
{% endblock %}

{% block content %}  
  <div class="card" style="max-width: 50rem;">
      <div class="card-header">
        <h4 class="card-title">
          Creación de pedido
        </h4>
      </div>  
      <div class="card-body">
        <form action="" method="post" class="">
          {% csrf_token %}
          <div class="row form-group justify-content-md-center">
              <div class="col-md-2 text-right"><label for="{{form.Cantidad.auto_id}}">Tipo pedido</label></div>
              <div class="col-md-3 text-left">
                  {{form.TipoPedido | add_class:"form-control"}}
              </div>
          </div>
          
        </form>
      </div>    
  </div>
  
  <p>
      <div class="form-group">
          <input type="text" class="form-control pull-right" style="width:20%" id="search" placeholder="Buscar"> 
      </div>
      <table class = "table table-hover text-center" id="mytable">
        <thead>
        <tr role="row">
          <th scope = "col">CÓDIGO</th>
          <th scope = "col">NOMBRE</th>
          <th scope = "col">MARCA</th>
          <th scope = "col">PRESENTACIÓN</th>
          <th scope = "col">CANTIDAD</th>
          <th scope = "col">EXISTENCIA</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
      {% for producto in productos %}
        
          <tr class="text-center">
              <td> {{producto.Codigo}} </td>
              <td> {{producto.Nombre}}   </td>
              <td> {{producto.Marca}}   </td>
              <td> {{producto.get_Unidad_display}}   </td>
              <td> {% if producto.Unidad != '1' %}{{producto.Cantidad}}{% endif %}</td>
              <td> {% if producto.Existencia %}{{producto.Existencia}}{% endif %}   </td>
              <td>   
                <div class="btn-group">
                    <a class="btn btn-outline-info" href="{% url 'editar_producto' producto.Id %}"> <i class="fa fa-shopping-cart"></i> Agregar</a> 
                </div>
                </td>
          </tr>
        
      {% endfor %}
        </tbody>  
      </table>
  </p>
  
    
{% endblock %}

{% block body %}
    <script src="{% static 'js/search.js' %}"></script>  
{% endblock %}



