{% extends 'base/base.html' %}

{% block title %}
  Listado de productos
{% endblock %}

{% block content %}
    
    <h3>Listado de Productos <a href="{% url 'agregar_producto' %}" class="btn btn-success"> <i class="fa fa-plus"></i> </a></h3>

  <p>
      <table class = "table table-hover text-center">
          <th scope = "col">CÓDIGO</th>
          <th scope = "col">NOMBRE</th>
          <th scope = "col">MARCA</th>
          <th scope = "col">UNIDAD</th>
          <th scope = "col">CANTIDAD</th>
          <th scope = "col">EXISTENCIA</th>
          <th></th>
          <th></th>
      {% for producto in Productos %}
          <tr class="text-center">
              <td> {{producto.Codigo}} </td>
              <td> {{producto.Nombre}}   </td>
              <td> {{producto.Marca}}   </td>
              <td> {{producto.get_Unidad_display}}   </td>
              <td> {{producto.Cantidad}}   </td>
              <td> {% if producto.Existencia %}{{producto.Existencia}}{% endif %}   </td>
              <td>   
                <div class="btn-group">
                    <a class="btn btn-outline-info" href="{% url 'editar_producto' producto.Id %}"> <i class="far fa-edit"></i> Editar</a> 
                    <a class="btn btn-outline-danger" href="{% url 'eliminar_producto' producto.Id %}"><i class="fas fa-trash"></i></a>   </td>
                </div>  
          </tr>
      {% endfor %}
      </table>
  </p>
  
  {% endblock %}